/* src/components/HeroSection/HeroSection.css */
.hero-container {
  height: 100vh; /* Ocupa a altura total da tela */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
  position: relative;
}
.hero-container video {
  object-fit: cover;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}
.hero-container .hero-overlay {
  background-color: rgba(0, 0, 0, 0.3); /* Escurece um pouco o vídeo para o texto ser legível */
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.hero-content {
  color: #fff;
  text-align: center;
  z-index: 1;
  padding: 20px;
}
.hero-content h1 {
  font-size: 60px;
  font-weight: 800;
  margin-bottom: 20px;
}
.hero-content p {
  font-size: 24px;
  font-weight: 300;
}
@media screen and (max-width: 960px) {
  .hero-content h1 {
    font-size: 48px;
  }
  .hero-content p {
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  .hero-content h1 {
    font-size: 36px;
  }
  .hero-content p {
    font-size: 18px;
  }
}