/* src/App.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* MUDANÇA: Fonte mais moderna e versátil */
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff; /* Fundo global branco */
  color: #1c2a39; /* Cor de texto padrão */
}

.main-content {
  /* Não precisa mais do min-height aqui, vamos controlar por página */
}